body, button {
  color: #222;
  font-family:'Courier New', Courier, monospace;
  height: 100%;
}

body {
  background-image: url("img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none !important;
}

main {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

#date p {
  font-size: 20pt;
  font-weight: bold;
  margin-right: 3%;
}

button {
  cursor: pointer;
}

#choices button {
  background-color: #62513f89;
  border: 5px rgba(56, 56, 56, 0.489);
  border-style: groove;
  border-radius: 6px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.361);
  font-size: 12pt;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  text-align: left;
  transition-duration: 0.4s;
  width: 80%;
}

.past-date, #current-date, .end-time {
  font-weight: bolder;
  text-decoration: underline;
}

#start-page {
  margin: auto;
  width: 50%;
}

#start-btn, #end-btn, #restart-btn {
  border: none;
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(97, 97, 97, 0.421);
}

#start-btn {
  font-size: larger;
  text-decoration: underline;
  margin: auto;
  display: flex
}

#start-page p {
  line-height: 2em;
  margin-top: 25px;
  margin-bottom: 25px;
}

#current, #past {
  height: 520px;
  width: 400px;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

#past div {
  height: 473px;
  width: 400px;
  overflow-y: scroll;
}

#current-date {
  margin-top: 20px;
}

#current h3, #past h3 {
  position: relative;
  padding-top: -10px;
}

.past-event {
  border: 2px solid;
  padding-left: 5px;
  padding-right: 5px;
  display: flexbox;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  text-align: right;
}

a {
  color: #154705;
}

#pic-container img{
  max-width: 400px;
  margin-top: 10px;
}